* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
}
body {
    background-color: black;
}

.blackish-effect-container {
    position: relative;
    background-image: url('images/banner.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    border-bottom: 10px solid rgb(35 35 35);
}

.blackish-effect-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
}

.nav {
    position: relative;
    z-index: 1;
    height: 90px;
    width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.nav img{
    width: 150px;
}

.nav button {
    cursor: pointer;
    background-color: #e50914;
    border: 0;
    border-radius: 4px;
    padding: 7px 18px;
    font-weight: 600;
}

.info {
    padding-top: 205px;
    text-align: center;
    margin: auto;
    width: 70vw;
    position: relative;
    z-index: 1;
}

.info h1 {
    font-weight: 800;
    font-size: 3rem;
}
.info p {
    padding-top: 16px;
    font-size: 1.5rem;
}
.info form h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.search {
    padding: 15px 0 150px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
#email {
    width: 370px;
    border: 1px solid rgb(97 97 97);
    background-color: rgb(15 15 16);
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 8px;
    border-radius: 4px;
    color: rgb(255, 251, 251);
}
#start {
    margin-left: 5px;
    font-size: 1.5rem;
    border-radius: 4px;;
    border: 0;
    padding: 0 25px;
    background-color: #e50914;
    cursor: pointer;
}
#start strong{
    color: white;
}
.bb{
    border-bottom: 10px solid rgb(35 35 35);

}
.sec{
    align-items: center;
    padding: 20px 0 70px 0;
    margin: auto;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 100%;
}
.heading{
    padding-right: 30px;
}
.heading h1 {
    font-size: 48px;
}
.heading p {
    margin-top: 14px;
    font-size: 24px;
}
.image {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    position: relative;
}
.image img {
    width: 500px;
}
.image video {
    margin-top: 63px;
    width: 300px;
    position: absolute;
    z-index: -1;
}
.h1 {
    padding-left: 180px;
    width: 20vw;
}
.movie{
    margin-top: 250px;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 285px;
    height: 105px;
    border: 2px solid rgb(90 90 90);
    border-radius: 10px;
    position: absolute;
}
.name {
    display: flex;
    flex-direction: row;
}
.z0 {
    position: relative;
    z-index: -1;
}
.p {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name img,#gif {
    width: 60px;
}

#p2 {
    color: #0071eb;
}

.questions {
    padding: 50px 0 30px 0;
    width: 60vw;
    margin: auto;
}

.questions h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 20px;
}
.bb1 {
    border-bottom: 1px solid black;
}
.q{
    margin-bottom: 8px;
}
.qa {
    background-color: rgb(45 45 45);
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.qa span,.qa p {
    margin: 0 24px ;
}
.ans {
    padding-left: 24px;
    padding-right: 24px;
}
.ansNo {
    display: none;
}
.ansYes {
    display: block;
}
.questions form h3 {
    font-weight: 400;
    font-size: 20px;
}
.questions form {
    padding-top: 45px;
    text-align: center;
}
.p0 {
    padding-bottom: 0;
}

footer{
    padding: 70px 0;
    width: 60vw;
    margin: auto;
}
.links1{
    margin-bottom: 30px;
}
.links1 a, .link a,footer div, .search input{
    color: rgba(255, 255, 255, 0.7);
}
.links2{
    font-size: 16px;
    padding: 0 191px 15px 0;
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
}
.link a {
    padding-bottom: 15px;
}
footer select{
    padding: 6px 36px;
    background-color: #0f0f0f;
    border: 1px solid #6c767c;
    border-radius: 3px;
    margin-bottom: 15px;
}
@media screen and (min-width: 1300px){
    .image video {
        margin-top: 76px;
        width: 366px;
    }
}
@media screen and (max-width: 950px){
    .nav img{
        width: 105px;
    }
    .info {
        width: 80vw;
        padding-top: 80px;
    }
    .sec{
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 65px;

    }
    .reverse {
        flex-direction: column-reverse;
    }
    .image video {
        margin-top: 75px;
        width: 365px;
    }
    .h1{
        padding-left: 0;
        width: 80vw;
    }
    .heading {
        text-align: center;
    }
    .heading h1,.info h1,.questions h1 {
        font-size: 32px;
    }
    .heading p,.info p,.info form h3 {
        font-size: 16px;
    }
    .search {
        padding-bottom: 0;
    }
    .movie{
        margin-top: 250px;
    }
    .name img,#gif {
        width: 45px;
    }
    .links2 {
        display: grid;
        grid-template-columns: repeat(2,40vw);
    }
    .qa{
        font-size: 18px;
    }
}


@media screen and (max-width: 740px){
    #start {
        margin-top: 17px;
        padding: 10px 25px;
    }
}

@media screen and (max-width: 500px){
    .image img {
        width: 250px;
    }
    .image video{
        margin-top: 38px;
        width: 182px;
    }
    .name img,#gif {
        width: 25px;
    }
    .movie{
        width: 195px;
        height: 60px;
        margin-top: 115px;
    }
    .questions {
        width: 85vw;
    }
    .qa span {
        padding-right: 20px;
        margin: 0;
    } 
}

@media screen and (max-width: 1300px){
    footer {
        width: 90vw;
    }
    .nav{
        width: 90vw;
    }
    .questions {
        width: 90vw;
        padding: 50px 0;
    }
}
@media screen and (max-width: 250px){
    .nav{
        flex-direction: column;
        justify-content: start;
    }
}
